canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#id {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}

kbd {  
  border: 1px solid white;    
  border-radius: 8px;    
  padding: 3px 5px;   
  margin: 2px;  


}